@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is the landing page for the CustomerFeedback System, if you want to leave us your feed back please press the button</p>
    <a href="/Feedback" class="btn btn-primary">Give us your feedback</a>
</div>
